<!DOCTYPE html> 

<div align = "center">
    <h1>Resource you just added to the database</h1>
    <body>
        <p><b>Filename: </b><%= @just_added['filename'] %></p>
        <p><b>Description: </b><%= @just_added['description'] %></p>
    </body>
</div>