<!DOCTYPE html> 

<div align = "center">
    <h1>Resources you just added to the database</h1>
    <body>
        <% @just_added.each do |p| %>
            <%= p.user_id.to_s %>
            <%= p.filename.to_s %>
            <%= p.description.to_s %>
        <% end %>
    </body>
</div>