// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

h1 {
    padding-top: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}